.container-fluid
  .row-fluid
    .category
      %h4 MOVIE NIGHTS
      #watchlist-slider
        = render "movie_nights/slider"

      %h4 PELIPALS
      #watchlist-slider
        = render "movie_night_friends/slider"    
.modal-container
