.container-fluid
  %h1 ADMINSITRATION PANEL
  .form-inline
    .form-group
      %a{:href => "#", class:"btn btn-default", id:"btn-fetch-movies"} Actualizar Cartelera
    .checkbox
      %label
        %input{name: "checkox-schedule", type: "checkbox", id: "checkbox-schedule"} Con Horarios
  %br/
  #label-fetch-movies

%script{src: "//js.pusher.com/2.2/pusher.min.js", type: "text/javascript"}
:javascript
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var pusher = new Pusher('59e326b1b06412d0c26d');
  var channel = pusher.subscribe('admins');
  channel.bind('my_event', function(data) {
    $("#label-fetch-movies").prepend("<p>" + data.message + "</p>")
  });