
.logo
  =image_tag "brand_peligroso.png", id:"logo"

/ %ul
/   %li Object Oriented
/   %li Ruby on Rails
/   %li en Heroku!!!
/   %li nada de Javascript! solo CoffeeScript
/   %li nada de HTML solo HAML!
  