= content_for :header do
  .header
.landing-back
  .hero
    .hero-logo
      = image_tag "logo.png", class: "center-block"
    .hero-buttons
      = image_tag "boton_facebook.png", class: "center-block"
    .hero-description
      = image_tag "texto_peli.png", class: "center-block"