= content_for :header do
  .header

.container.landing-back
  .row
    .hero
      .hero-logo
        = image_tag "logo-big.png", class: "center-block img-responsive"
      .hero-buttons
        =link_to "/auth/facebook" do
          = image_tag "boton_facebook.png", class:"center-block img-responsive"
      .hero-description
        %h1 LOS CINES...BAJO TU CONTROL
        %p PLANES DESDE US$0.00 AL MES ;)
