.slider
  .left
    %a#slide-left1{href: "#"}
      =image_tag 'slide_arrow_left.png'
  .right
    %a#slide-right1{href: "#"}
      =image_tag 'slide_arrow_right.png'
  #track1.track{"data-width" => @movies.count}
    - movies.each do |movie|
      - if not movie.poster_path.nil?
        %a{href: ".movie-details", "data-movie"=>movie.id, class:"movie-poster"}  
          = image_tag(movie.poster_path, class:"poster")