#makeMeScrollable.slider
  - movies.each do |movie|
    - if not movie.poster_path.nil?
      %a{href: ".movie-details", "data-movie"=>movie.id, class:"movie-poster"}  
        = image_tag movie.poster_path, class:"poster"