.container-fluid
  .row-fluid
    .category
      %h4 CARTELERA
      #playing-now-slider
        = render "movies/slider"
    .category
      %h4 PROXIMAMENTE
      #coming-soon-slider
        = render "upcoming_movies/slider"
.modal-container
