.container-fluid
  .row-fluid
    .category
      %h4 AHORA EN CINEMAS
      #playing-now-slider.masonry
        = render "movies/slider"
  .row-fluid
    .category
      %h4 PROXIMAMENTE
      #coming-soon-slider.masonry
        = render "upcoming_movies/slider"
.modal-container
