.container-fluid
  .row-fluid
    .category
      %h3 CARTELERA
      .slider
        #makeMeScrollable
          - @movies.each do |movie|
            - next if movie.poster_path.nil?
            .upcoming-movie
              .upcoming-poster
                %a{href: ".movie-details", "data-movie"=>movie.id, class:"movie-poster"}  
                  = image_tag movie.poster_path, class:"poster"
    .category
      %h3 PROXIMAMENTE
      = render "movies/upcoming_slider"
= render "modal"
