.container-fluid
  .row-fluid
    .category
      %h4 CARTELERA
      .slider
        #makeMeScrollable
          - @movies.each do |movie|
            - next if movie.poster_path.nil?
            =link_to movie, remote: true do
              .upcoming-movie
                .upcoming-poster
                  = image_tag movie.poster_path, class:"poster"
    .category
      %h4 PROXIMAMENTE
      = render "upcoming_movies/slider"
.modal-container
