.slider
  #makeMeScrollable3
    - @out_of_theaters.each do |movie_decorator|
      - next if movie_decorator.poster_path.nil?
      =link_to out_movie_path(movie_decorator.id), id: movie_decorator.id, remote: true do
        .upcoming-movie
          .upcoming-poster
            = image_tag movie_decorator.poster_path, class:"poster"