.container-fluid
  .row-fluid
    .category
      %h4 WATCHLIST
      #watchlist-slider.masonry
        = render "favorite_movies/slider"
    .category
      %h4 PROXIMAMENTE
      #watchlist-coming-soon-slider.masonry
        = render "favorite_upcoming_movies/slider"
    .category
      %h4 FUERA DE CARTELERA
      #watchlist-out-movies-slider.masonry
        = render "out_movies/slider"
.modal-container
