.container-fluid
  .row-fluid
    .category
      %h4 WATCHLIST
      #watchlist-slider
        = render "favorite_movies/slider"
    .category
      %h4 PROXIMAMENTE
      = render "upcoming_movies/slider"
    .category
      %h4 FUERA DE CARTELERA
      = render "out_movies/slider"
.modal-container