.container-fluid
  .row-fluid
    .category
      %h4 WATCHLIST
      .slider
        #makeMeScrollable
          - @watchlist.each do |movie|
            - next if movie.poster_path.nil?
            =link_to movie, remote: true do
              .upcoming-movie
                .cartelera-date.center
                  = distance_of_time_in_words_to_now(movie.created_at).upcase
                  EN FUNCIÓN
                .upcoming-poster
                  = image_tag movie.poster_path, class:"poster fix-upcoming-date"
.modal-container