.container-fluid
  .row-fluid
    .category
      %h3 WATCHLIST
      .slider
        #makeMeScrollable
          - @watchlist.each do |movie|
            - next if movie.poster_path.nil?
            .upcoming-movie
              .upcoming-poster
                %a{href: ".movie-details", "data-movie"=>movie.id, class:"movie-poster"}  
                  = image_tag movie.poster_path, class:"poster"
    = render "movies/upcoming_movies_slider"
= render "movies/modal"
