.container-fluid.white-background
  .row-fluid
    .col-sm-8.col-sm-offset-2.header-title
      %h3 ¿Con qué frecuencia ves estos géneros ...
      %h2
        %small (Usted puede cambiar sus respuestas en cualquier momento)
      %hr/
      =form_tag({action: :create}) do
        .row
          .col-sm-6
            %table.table
              - @genres.each do|genre| 
                %tr.genres
                  %td
                    =genre.name.upcase
                  %td
                    %label.radio-inline
                      =radio_button_tag("genres[#{genre.id}]", 1, genre_interest?(user_genres: @user_genres, genre: genre, value: 1))
                      nunca
                  %td
                    %label.radio-inline
                      =radio_button_tag("genres[#{genre.id}]", 2, genre_interest?(user_genres: @user_genres, genre: genre, value: 2))
                      aveces
                  %td
                    %label.radio-inline
                      =radio_button_tag("genres[#{genre.id}]", 3, genre_interest?(user_genres: @user_genres, genre: genre, value: 3))
                      amenudo
              %tr
                %td.more-genres
                  =link_to  "#", class: "center", id: "more-genres" do
                    VER MAS
                    %span.caret
        .div-footer
          =submit_tag "GUARDAR", class:"btn btn-primary pull-right submit-btn"
          =link_to "CANCELAR", movies_path, class:"btn btn-default pull-right" 
          
