.container-fluid.white-background
  .row-fluid
    .col-sm-4.col-sm-offset-2
      =form_tag({action: :create}) do
        %table.table
          - @genres.each do|genre| 
            %tr
              %td
                =genre.name.upcase
              %td
                %label.radio-inline
                  =radio_button_tag("genres[#{genre.id}]", 1, true)
                  nunca
              %td
                %label.radio-inline
                  =radio_button_tag("genres[#{genre.id}]", 2)
                  aveces
              %td
                %label.radio-inline
                  =radio_button_tag("genres[#{genre.id}]", 3)
                  amenudo
        =submit_tag "GUARDAR" 