.movie-details.modal.fade
  .modal-dialog
    .message_watchlist
      =image_tag "icon_menssage_watchlist.png"
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        =link_to "#", id: "link_boton_back_video" do
          =image_tag "boton_back_video.png", class: "boton-back-video"
        =image_tag "logo/small.png", class: "pull-left modal-logo"
        %h4.modal-title= @movie.name
      .modal-row-details.modal-body.row
        .col-sm-4
          .modal-poster
            -if @movie.trailer?
              %a{:href => "#", id:"play-trailer"}
                =image_tag "trailer_play.png", class: "btn-trailer-play hidden-xs"
            .modal-poster-img
              =image_tag @movie.poster_path, class: "poster-modal hidden-xs"
        .col-sm-8
          .modal-overview
            =@movie.overview
          .modal-options
      .modal-row-trailer.modal-body.modal-body-padding.row
        .modal-trailer.col-sm-12
          -if @movie.trailer?
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "419", :src => "http://www.youtube.com/embed/#{@movie.trailer}", :width => "598"}
