.slider
  #makeMeScrollable2
    - @upcoming.each do |movie|
      - next if movie.poster_path.nil?
      =link_to upcoming_movie_path(movie.tmdb_id), remote: true do
        .upcoming-movie
          .upcoming-date.center
            EN
            = distance_of_time_in_words_to_now(movie.release_date).upcase
          .upcoming-poster
            = image_tag(movie.poster_path, class:"poster fix-upcoming-date")
            