.slider
  #makeMeScrollable2
    - @upcoming.each do |movie_decorator|
      - next if movie_decorator.poster_path.nil?
      =link_to upcoming_movie_path(movie_decorator.tmdb_id), remote: true do
        .upcoming-movie
          .upcoming-poster
            = image_tag(movie_decorator.poster_path, class:"poster fix-upcoming-date")
            