%li.dropdown.countries-dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#", title: "dropdown"}
    = image_tag("countries/flags/#{current_country.flag}.png", width: "25px")
    %span.caret
  %ul.dropdown-menu{role: "menu"}
    - Country.all.each do |country|
      %li= link_to country.name.upcase, {default_country: country.code}