.ui-autocomplete {
  max-height: 500px;
  width: auto;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
} 

.table-admins > tbody > tr > td {
  vertical-align: top !important;
  max-width: 300px
}
