@font-face {
    font-family: 'ebrima';
    src: font_url('ebrima.ttf');
}

@font-face {
    font-family: 'ebrima-bold';
    src: font_url('ebrimabd.ttf');
}

body{
  background-color: #000;
  color:            #fff;
  font-family:      'ebrima' !important;
  margin-top:       80px;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'ebrima-bold'
}

.navbar{
  background-color:#FFF;
  ul{
    li{
      border-left: 1px solid #ccc;
    }
    li:last-child{
      border-right: 1px solid #ccc;
    }
  }
}

.logo{  
  #logo{
    display: inline-block;
    margin-right: 50px;
    width:   200px;
  }
}