@font-face {
  font-family: 'ebrima';
  src: font_url('ebrima.ttf');
}

@font-face {
  font-family: 'ebrima-bold';
  src: font_url('ebrimabd.ttf');
}

body{
  background-color: #000;
  color:            #fff;
  font-family:      'ebrima' !important;
  margin-top:       60px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'ebrima-bold'
}

.navbar{
  background-color:#FFF;
}

.logo{  
  #logo{
    display: inline-block;
    margin:  5px 0 0 0;
    width:   150px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body{
    margin-top: 110px;
  }

  .logo{  
    #logo{
      display:      inline-block;
      margin-top:   20px;
      margin-right: 100px;
      width:        200px;
    }
  }

  .navbar{
    ul{
      li{
        border-left: 1px solid #ccc;
      }
      li:last-child{
        border-right: 1px solid #ccc;
      }
    }
  }

  .navbar-nav>li>a {
    padding-top:    36px;
    padding-bottom: 15px;
    height:         92px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}