@font-face {
  font-family: 'ebrima';
  src: font_url('ebrima.ttf');
}

@font-face {
  font-family: 'ebrima-bold';
  src: font_url('ebrimabd.ttf');
}

@font-face {
  font-family: 'grobold';
  src: font_url('GROBOLD.ttf');
}

body{
  background-color: #000;
  color:            #fff;
  font-family:      'ebrima' !important;
  margin-top:       50px;
}

hr{
  border-top: 1px solid #aaa !important;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'ebrima-bold'
}

.center{
  text-align: center;
  margin: 0px auto;
}

.navbar{
  background-color:#FFF;
}

.logo{  
  #logo{
    display: inline-block;
    margin:  5px 0 0 0;
    width:   150px;
  }
}

.alert{
  color: #FF0000;
  padding: 0 !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body{
    margin-top: 80px;
  }

  .logo{  
    #logo{
      display:      inline-block;
      margin-top:   10px;
      margin-right: 30px;
      width:        230px;
    }
  }

  .navbar{
    ul{
      li{
        border-left: 1px solid #ccc;

        .coming-soon{
          text-align: center;
          color: #ccc;
        }
      }
      li:last-child{
        border-right: 1px solid #ccc;
      }
      li:hover{
      }
    }
  }

  .navbar-nav > li > a{
    padding-top:    30px;
    padding-bottom: 15px;
    height:         80px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}