.watchlist-movie{
  
  .poster{
    width: 180px !important;
  }
}

.upcoming-date, .cartelera-date {
  position: absolute;
  top: 110px;
  padding: 1px;
  margin: 0px 10px;
  width: 181px;
  z-index: 1;

  span {
    font-size: 1.3em;
    font-family: 'ebrima-bold'
  }
}

.upcoming-date{
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}
.cartelera-date{
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.stars-label{
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  top: 210px;
  right: 40px;
  padding: 3px;
  margin: 0px 10px;
  width: 100px;
  z-index: 2;
  
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  span {
    font-size: 1.3em;
    font-family: 'ebrima-bold'
  } 
}