.white-background{
  background-color: #eee;
  color: #000;
}

.header-title{
  hr{
    margin-top: 0px !important;
  }
  h2{
    margin: 0px;
  }
  h3{
    margin-bottom: 0px;
  }
  small{
    font-family: "ebrima";
  }
}
