.history-movie{
  color: #777;
  display: block;
  padding: 10px 0px;

  .poster, .description{
    display: inline-block;
  }

  .poster img{
    width: 155px;
  }

  .created_at, .action{
    font-family: "ebrima-bold";
  }
}
