.landing-back{
  background: image-url("imagen_1.png");
  background-size: cover;
  bottom: 0px;
  position: absolute; 
  top: 0px; 
  min-width: 100%;
}
.hero{
  background-color: rgba(0,0,0,0.7);
  margin: 18% 0px;
}

.hero-logo{
  padding: 1% 0;
}

.hero-buttons{
  padding: 2% 0;
}

.hero-description{
  padding: 1% 0;
}
