.landing-back{
  background-size: cover;
  bottom: 0px;
  position: absolute; 
  top: 0px; 
  min-width: 100%;
}
.hero{
  background-color: rgba(0,0,0,0.7);
  margin: 5% 0px 0px 0px;
  padding: 0px 10px;
}

.hero-logo{
  padding: 1% 0;
  padding-bottom: 30px
}

.hero-buttons{
  padding: 2% 0;
  text-align: center;
  a{
    display: inline-block;
  }
}

.hero-description{
  padding: 0.8% 0;
  text-align: center;
  span {

  }
  h1{
    font-size: 1.3em;
    .troll{
      font-family: 'grobold';
      margin: 0px -10px;
    }
  }
  p{
    font-size: 1em;
  }
}

@media (min-width: 768px) {

  .hero{
    background-color: rgba(0,0,0,0.7);
    margin: 13% 0px 0px 0px;
    padding: 0px 10px;
  }

  .hero-logo{
    padding: 1% 0;
    padding-bottom: 0px
  }

  .hero-description{
    padding: 0.8% 0;
    text-align: center;
    h1{
      font-size: 3.2em;}
    p{
      font-size: 1.9em;}
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
