.modal{
  color: #000;
  text-align: justify;
  
  #no-theaters p{
    font-size: 13px;
  }

  .modal-logo{
    margin-right: 10px;
  }

  .modal-overview{
    overflow: hidden;
    max-height: 55px;
  }

  .modal-options{
    margin-top: 20px
  }

  .modal-see-theaters, .modal-take-control{
    color: #777;
    img{
      width: 100%;
    }
  }

  .message_watchlist{
    background-color: rgba(255, 255, 255, 0.3);
    display: none; 
    position: relative;
    top: 10px;
    margin: 80px 0px 0px 0px;
    padding: 50px 50px;
    z-index: 1;

    img{
      position: relative;
      top: 30%;
      left: 25%;
    }
  }
}




