.modal{
  color: #000;
  text-align: justify;
  
  #no-theaters p{
    font-size: 13px;
  }

  .modal-logo{
    margin-right: 10px;
  }

  .modal-overview{
    overflow: hidden;
  }

  .tab-padding{
    padding-top: 15px;
  }

  .modal-options{
    margin-top: 20px;
    
    #delete-movie-button{
      height: 30px;
    }

    #saw{
      margin-right: 3px;
    }
  }

  .modal-see-theaters, .modal-take-control{
    color: #777;
    
    img{
      width: 100%;
    }
  }

  .modal-row-details{
    
    .section-seen{
      display: none;
      
      textarea{
        height: 76px;
      }
      
      .selected{
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
  
  .modal-theaters{
    margin-bottom: 15px;
  }

  .modal-schedules{
    margin-bottom: 15px;
    
    .today-image{
      vertical-align: sub;
    }

    .today{
      padding-top: 5px;
    }
    
    .schedules{
      .schedule{
        border-radius: 5px ;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        color: #CCCCCC;
        display: inline-block;
        text-align: center;
        font-size: 1.4em;
        padding: 2px 5px;
        width: 60px;

        p{
          margin: 0px !important
        }
      }

      .coming{
        color: #4D4D4D !important;
      }

      .first_coming{
        color: #FFFFFF !important;
        background-color: #333333 !important;
      }
    }
  }

  .message_watchlist{
    background-color: rgba(255, 255, 255, 0.3);
    display: none; 
    position: relative;
    top: 10px;
    margin: 80px 0px 0px 0px;
    padding: 50px 50px;
    z-index: 1;

    img{
      position: relative;
      top: 30%;
      left: 25%;
    }
  }
}




