.poster{
  margin: 0px 3px;
  width: 154px;
}

.movie-poster:hover{
  text-decoration: none;
}

.poster-modal{
  width: 180px;
}

.last-movie{
  width: 172px;
}

.modal-row-trailer{
  display: none;
}

.btn-trailer-play{
  position: fixed;
  top: 162px;
  left: 65px;
}

.modal-body-padding{
  padding: 0px !important;
}

.boton-back-video{
  display: none;
  left: 492px;
  position: absolute;
  top: 17px;
}
.category{
  padding: 0px 0px 10px 0px;
  h2{
    marign-bottom: 0px !important;
  }

}
