.slider
{
  /*height: 250px;*/
  position: relative;
  width:100%;
}

.slider div.scrollableArea a, .upcoming-movie
{
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  /*   If you don't want the images in the scroller to be selectable, try the following
       block of code. It's just a nice feature that prevent the images from
       accidentally becoming selected/inverted when the user interacts with the scroller. 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  */
}
