%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    JOTA
    %span.caret
  %ul.dropdown-menu{role: "menu"}
    %li
      %a{href: "#"} TUS CINES
    %li
      %a{href: "#"} PELI PALS
    %li
      %a{href: "#"} GENEROS
    %li.divider
    %li
      %a{href: "#"} CERRAR SESION